.faces-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 20px;
}

.svg-doctor-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-doctor-face svg {
  display: block;
  margin: 0 auto;
}

.svg-doctor-eyelid {
  transition:
    height 0.3s ease,
    y 0.3s ease;
}

.svg-doctor-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  max-width: 400px;
}

.svg-doctor-button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.svg-doctor-button.color1 {
  background-color: #3e3bff;
  color: rgb(208, 218, 238);
}

.svg-doctor-button.color1:hover {
  background-color: #6663ff;
}

.svg-doctor-button.color2 {
  background-color: #239956;
  color: #292b2a;
}

.svg-doctor-button.color2:hover {
  background-color: #37ed86;
}

.svg-doctor-button.color3 {
  background-color: #fa961b;
}

.svg-doctor-button.color3:hover {
  background-color: #f0ae5d;
}

.svg-doctor-button.color4 {
  color: white;
  background-color: #fa1b53;
}

.svg-doctor-button.color4:hover {
  background-color: #f74874;
}

.svg-doctor-button.color5 {
  background-color: #ffdc17;
}

.svg-doctor-button.color5:hover {
  background-color: #ede093;
}
