.doctor-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-head {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #f5d4a0;
  position: relative;
  margin: 0 auto;
}

.doctor-eye {
  width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(247, 247, 247);
  position: absolute;
  top: 30px;
}

.doctor-eye.left {
  left: 30px;
}

.doctor-eye.right {
  right: 30px;
}

.doctor-eye-pupil {
  width: 20px;
  height: 15px;
  border-radius: 7px;
  background-color: rgb(82, 82, 82);
  position: absolute;
  top: 38px;
}

.doctor-eye-pupil.left {
  left: 45px;
}

.doctor-eye-pupil.right {
  right: 45px;
}

.doctor-eye-pupil {
  transition: all 0.4s ease;
}


.doctor-mouth { 
  width: 30px; 
  height: 10px; 
  border-radius: 15px; 
  background-color: #c5ab81; 
  position: absolute; 
  top: 120px; 
  left: 70px;
}

.doctor-mouth { 
  width: 50px; 
  height: 20px; 
  border-radius: 15px; 
  background-color: black;
  border: solid 5px #c5ab81; 
  position: absolute; 
  top: 120px; 
  left: 60px;
}

.doctor-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.doctor-blink {
  margin: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  background-color: #3e3bff;
  color: rgb(208, 218, 238);
  border: none;
}

.doctor-blink:hover {
  background-color: #6663ff;
}

.doctor-eyelid {
  position: absolute;
  width: 50px;
  height: 20px;
  background-color: #f5d4a0;
  transition: transform 0.3s ease;
  z-index: 2;
  transform: scaleY(0);
}

.doctor-eyelid.top {
  top: 30px;
  transform-origin: top;
}

.doctor-eyelid.bottom {
  top: 45px;
  transform-origin: bottom;
}


.doctor-eyelid.left {
  left: 30px;
}

.doctor-eyelid.right {
  right: 30px;
}


.doctor-eyelid.top.closed {
  transform: scaleY(1);
}

.doctor-eyelid.bottom.closed {
  transform: scaleY(1);
}
